{% extends 'base.html.twig' %}

{% block content %}

      <section class="sesctions home text-center">

          <div class="container">

              <div class="home-content">

                  <img src="img/logo.png" class="img-responsive logo" alt="">

                  <h3 class="home-title"> EMMANUEL CUQUEJO  </h3>

                    <div class="lead home-desc">
                        <p>coach de vie</p>
                        <p class="citation"> " La vie est un mystère qu'il faut vivre et non un problème à résoudre " </p>
                    </div>

                    <div class="button-main">

                        <button class="btn button btn-light particulier"><a href="particulier.html"> PARTICULIER </a></button>
                        <button class="btn button btn-light professionnel"><a href="professionnel.html"> PROFESSIONNEL </a></button>

                    </div>

              </div>
              
          </div>

      </section>
    
</div>



          <!-- ************************ COMMENT PUIS-JE VOUS AIDER ? ************************* -->

    <section class="sections about">
    
        <div class="container-fluid help">

            <div class="section-header text-center">

                <h2 class="section-title"> COMMENT PUIS-JE VOUS AIDER ?</h2>
                

                <span class="titre-span0"></span>
                <!-- <p> " Lorem ipsum dolor, sit amet consectetur adipisicing " </p> -->

            </div>

           <!-- <div class="col-md-3">

                <div class="emmanuel">
                
                <img src="img/emmanuel.jpg" class="img-fluid emmanuel" alt="">

                </div>-->


            <div class="row ligne1">

                <div class="col-md-4 col-xs-12 ligne1">
                    <div class="serv">
                        <i class="icone fas fa-user fa-lg"></i>
                        <h3 class="serv-title mt-3"> Les gens </h3>
                        <p class="serv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>                      
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 ligne1">
                    <div class="serv">
                        <i class="icone fas fa-user fa-lg"></i>
                        <h3 class="serv-title mt-3"> Les gens </h3>
                        <p class="serv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>                         
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 ligne1">
                    <div class="serv">
                        <i class="icone fas fa-suitcase fa-lg"></i>
                        <h3 class="serv-title mt-3"> Les gens </h3>
                        <p class="serv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>                         
                    </div>
                </div>

            </div>

        

            <div class="row ligne2">
                
                <div class="col-md-4 col-xs-12">
                    <div class="serv">
                        <i class="icone fas fa-child fa-lg"></i>
                        <h3 class="serv-title mt-3"> Les gens </h3>
                        <p class="serv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>                      
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="serv">
                        <i class="icone fas fa-child fa-lg"></i>
                        <h3 class="serv-title mt-3"> Les gens </h3>
                        <p class="serv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>                         
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="serv">
                        <i class="icone fas fa-assistive-listening-systems fa-lg"></i>
                        <h3 class="serv-title mt-3"> Les gens </h3>
                        <p class="serv-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>                         
                    </div>
                </div>

            </div>

             <a href="contact.html"><button class="btn button contact"> CONTACT </button></a>
            
        </div>

    </section>


              
          <!-- ************************ JE ME LANCE ************************* -->

    <section class="jemelance">

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-6">
                    
                    <img src="img/emmanuel.jpg" class="img-fluid emmanuel" alt="">
                    
                </div>

                <div class="col-md-6">

                    <div class="section-header text-center">
                        <h2 class="section-title3"> JE ME LANCE ! </h2>
                        <span class="titre-span3"></span>
                        <div class="citation1"> " Lorem ipsum dolor, sit amet consectetur adipisicing " </div>
                    </div>

                    <div class="button1">
                        
                        <button class="btn button"><a href="particulier.html"> JE SUIS UN PARTICULIER </a></button>

                        <button class="btn button"><a href="professionnel.html"> JE SUIS UN PROFESSIONNEL </a></button>

                    </div>

                </div>

            </div>

        </div>

    </section>

</div>
          

{% endblock %}