{% extends 'base_backoffice.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{% endblock %} 

{% block content %}
<h1 class="text-center mt-5"> Projet Emmanuel  </h1>
    
{% endblock %}